{% block search%}
<form {% if ajax %}class="ajax" update="{{ajax.update}}" {% endif %}action="{{ path('searchengine_search') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="hidden" value="{{ entity }}" name="form[entity]" />
    <input type="hidden" value="{{ metadatas }}" name="form[metadatas]" />
    <input type="submit" />
</form>
{% endblock %}