
    {% if paginator.getNbResults > 0 %}
        <table class="listing">
            {% for entity in paginator %}
            <tr>
                <td>{{ entity.id }}</td>
                
            </tr>
            {% endfor %}
        </table> 

    {% else %}
    <p>Vide</p>
    {% endif %}
